@media (min-width: 992px) {
    .container {padding-right: 0;padding-left: 0;}
  }

  
  @media (min-width: 1400px) {
    .container {max-width: 1420px;}
    .container.container-large {max-width: 1574px; padding: 0 12px;}
  
  }

  @media (max-width: 1399px) { 
    .btn-two,.btn-one,.btn-ten {font-size: 16px; line-height: 48px;}
    .btn-five,.btn-six {line-height: 50px; padding: 0 30px; font-size: 16px;}
    .btn-three {font-size: 16px;}s
    .btn-five.text-uppercase {font-size: 14px;}
    .btn-seven {line-height: 53px; font-size: 16px; padding: 0 20px;}
    .btn-eight {line-height: 48px; font-size: 16px;}
    .btn-nine {font-size: 14px; line-height: 50px; padding: 0 25px;}
    .btn-eight.inverse {font-size: 16px;}
    .btn-two.border-0,.btn-one.border-0,.btn-ten.border-0,.btn-eight.border-0 {line-height: 50px;}
    .btn-ten i {margin-left: 10px;}
    .fs-20 {font-size: 18px;}
    .fs-16 {font-size: 15px;}
    .fs-22 {font-size: 20px;}
    h5 {font-size: 22px;}
    h6 {font-size: 20px;}
    .title-one .upper-title {font-size: 14px; margin-bottom: 12px;}
    .search-wrapper-one.bg {padding: 15px;}
    .input-box-one .nice-select,.input-box-one .type-input {font-size: 16px;}
    .search-wrapper-one .bg-wrapper {padding: 20px 0;}
    .search-wrapper-one .bg-wrapper .search-btn {font-size: 14px; line-height: 55px;}
    .accordion-style-two .accordion {padding: 0 20px;}
  }
  
  @media (min-width: 1200px) and (max-width: 1399px) {
    .theme-main-menu .gap-one {padding: 28px 25px;}
    .theme-main-menu .gap-two {padding: 20px 25px;}
    .hero-banner-two .line-bg:before {top:112px;}
    .layout-two .input-box-one {padding: 3px 0;}
    .search-wrapper-one.layout-two .bg-wrapper .search-btn-two {margin: 0 10px; width: 75px;}   
  }

  @media (min-width: 992px) and (max-width: 1399px) {
    h2 {font-size: 55px; line-height: 1.25em;}
    h3 {font-size: 48px;}
    h4 {font-size: 28px;}
    .fs-24 {font-size: 21px;}
    .title-one p {margin-top: 25px;}
    .title-one h2.fs-xl {font-size: 75px;}
    .title-one h2.fs-lg {font-size: 70px;}
  }
  

  @media (max-width: 1199px) {
    body {font-size: 17px;}
    .fs-16 {font-size: 15px;}
    .btn-thirteen {width: 55px; height: 55px;}
    .theme-main-menu .gap-one {padding: 20px 12px;}
    .theme-main-menu .gap-two {padding: 15px 12px;}
    .theme-main-menu .nav-item .nav-link {font-size: 16px;}
    .justify-content-between .navbar {position: static; transform: none;}
    .input-box-one.border-left.border-lg-0 {border:0;}
    .search-wrapper-one .bg-wrapper .search-btn {width: 100%;}
    .agent-section-one .wrapper:before {top:-15px;right: -12px; left: -12px;}
    .agent-card-one .img {margin-bottom: 25px;}
    .block-feature-four form {height: 70px;}
    .block-feature-four form button {width: 150px;}
    .block-feature-four form input {padding: 0 160px 0 15px;}
   }
  
  
  @media (min-width: 992px) and (max-width: 1199px) {
    .theme-main-menu .nav-item .nav-link {margin: 0 15px;}
    .listing-card-three .wrapper .property-info .feature li:before {right: -25%;}
    .card-style-seven,.location-card-three .image-bg {width: 222px; height: 222px;}
    
  }
  
  
  @media (max-width: 991px) {
    h2 {font-size: 40px; line-height: 1.4em;}
    h3 {font-size: 38px;}
    h4 {font-size: 25px;}
    .title-one h2 {font-size: 45px; line-height: 1.15em;}
    .title-one h2.fs-xl {font-size: 52px; line-height: 1.2em;}
    .title-one h2.fs-lg {font-size: 48px;}
    .title-one p {margin-top: 18px;}
    .title-one p.mt-xs {margin-top: 12px;}
    .btn-one {min-width: 120px;}
    
    .search-wrapper-four .nav-tabs .nav-link {font-size: 15px; margin: 0 20px;}
  }
 



  @media (max-width: 1399px) {  
    .dashboard-body .dash-card-one {padding: 20px 20px 10px;}
    .dashboard-body .dash-card-one:before {height: 60px; top:28%;}
    .dashboard-body .dash-card-one .icon {width: 50px; height: 50px; padding: 15px;}
    .dashboard-body .dash-card-one .value {font-size: 30px;}
    .dashboard-body .message-wrapper .message-sidebar .message_filter button {font-size: 14px;}
    .dash-aside-navbar {width: 260px;}
    .dash-aside-navbar .plr {padding-left: 15px; padding-right: 15px;}
    .dash-aside-navbar .dasboard-main-nav li .nav-title {padding-left: 35px;}
    .dashboard-body {margin-left: 260px;}
    .message_status .table-responsive tr td:nth-child(2), .message_status .table-responsive tr th:nth-child(2) {
      padding-right: 100px;
  }
  
  }
  @media (min-width: 1200px) and (max-width: 1399px) {
    .dashboard-body {padding: 150px 40px 30px;}
    .dashboard-body .dashboard-header {left: 300px; padding: 20px 0;}
    .dashboard-body .main-title {font-size: 30px; margin-bottom: 35px;}
    .dashboard-body .card-box {padding: 40px 45px;}
    .compose-mail-offcanvas {right:40px;}
    .dashboard-body .membership-plan-wrapper .column {padding: 30px 30px;}
    
    
  
  }
  
  @media (max-width: 1199px) { 
    .dash-aside-navbar {padding: 30px 0 10px;}
    .dash-aside-navbar .dasboard-main-nav li a img {width: 17px;}
    .dash-aside-navbar .dasboard-main-nav li a {font-size: 15px;}
    .dash-aside-navbar .profile-complete-status {margin: 20px 0;}
    .dash-aside-navbar .logout-btn {font-size: 15px;}
    .dashboard-body {padding: 130px 15px 30px;}
    .dashboard-body .dashboard-header {padding: 15px 0;}
    .dashboard-body .dashboard-header .search-form {height: 50px; width: 250px;}
    .dashboard-body .main-title {font-size: 24px; margin-bottom: 25px;}
    .dashboard-body .dash-card-one .value {font-size: 22px;}
    .dashboard-body .border-30,.dashboard-body .dash-card-one:before {border-radius: 15px;}
    .dashboard-body .card-box {padding: 25px 20px;}
    .dashboard-body .dash-title-three {font-size: 22px;}
    .dashboard-body .dash-input-wrapper .skills-wrapper {padding: 15px 15px 4px; border-radius: 10px;}
    .dashboard-body .dash-input-wrapper .skills-wrapper ul li.is_tag button {font-size: 14px;}
    .dashboard-body .message-wrapper .message-sidebar .message_filter button span {left: 0;}
    .dashboard-body .message-wrapper .message-sidebar .email-list-item .email-short-preview {padding-left: 20px;}
    .dashboard-body .message-wrapper .open-email-container .email-header .logo {width: 35px; height: 35px;}
    .dashboard-body .message-wrapper .open-email-container .email-header .sender-name {font-size: 16px; margin-bottom: -2px;}
    .dashboard-body .message-wrapper .open-email-container .email-header .sender-email {font-size: 15px;}
    .dashboard-body .message-wrapper .open-email-container .email-body h2 {font-size: 20px;}
    .compose-mail-offcanvas {right: 15px;}
    .dashboard-body .membership-plan-wrapper .column {padding: 25px 15px;}
    .dashboard-body .membership-plan-wrapper h4 {font-size: 18px;}
    .dashboard-body .membership-plan-wrapper h3 {font-size: 45px;}
    .dashboard-body .property-list-table td .p-img {width: 80px;}
    .dashboard-body .property-list-table td .address {margin: 5px 0 10px;}
  
  }
  
  @media (min-width: 992px) and (max-width: 1199px) { 
    .dashboard-body .dashboard-header {right:15px; left: 275px;}
    .dashboard-body .filter-input li {width: calc(25% - 20px);}
    
  }
  
  @media (min-width: 768px) and (max-width: 991px) { 
    .dashboard-body .dashboard-header {right:15px; left: 275px;}
    .dashboard-body .filter-input li {width: calc(33.333% - 20px);}
  
  }
  
  @media (max-width: 991px) { 
    .dashboard-body .dash-card-one:before {display: none;}
    .dashboard-body .dashboard-header .user-data .user-avatar {width: 50px; height: 50px; border-width: 3px;}
    .dashboard-body .message-wrapper .open-email-container {background: #fff9f6; margin: 20px 10px; border-radius: 0 0 10px 10px;}
    .dashboard-body .message-wrapper .message-sidebar {border-right: none; border-bottom: 1px solid #e3e1e1; max-height: 600px; overflow-y: auto;}
    .dashboard-body .message-wrapper .message-sidebar .email-list-item {padding-top: 15px; padding-bottom: 15px;}
    .dashboard-body .message-wrapper .message-sidebar .email-list-item .email-short-preview .sender-name,
    .dashboard-body .message-wrapper .message-sidebar .email-list-item .email-short-preview .mail-text {font-size: 14px;}
    .dashboard-body .message-wrapper .message-sidebar .email-list-item .email-short-preview .mail-sub {font-size: 15px; margin-bottom: 5px;}
    .dashboard-body .membership-plan-wrapper .column.border-left {border-left: none; border-top: 1px solid #254035;}
    .dashboard-body .filter-input li {width: calc(50% - 20px);}
  }
  @media (max-width: 767px) { 
    .dash-aside-navbar {transform: translateX(-100%); opacity: 0; visibility: hidden; transition: all 0.3s ease;}
    .dash-aside-navbar.show {transform: translateX(0); box-shadow: 15px 0 25px rgba(35,35,35,0.09); opacity: 1; visibility: visible;}
    .dashboard-body {margin: 0; border-radius: 0;}
    .dashboard-body .dashboard-header {left: 0; right: 0; border-bottom: 1px solid #e5e5e5; padding: 12px 15px;}
    .dashboard-body .dashboard-header .search-form {width: auto;}
    .dashboard-body .dashboard-header .job-post-btn {width: 110px; line-height: 40px; font-size: 14px;}
    .compose-mail-offcanvas {left: 15px; width: auto;}
  }
  
  @media (max-width: 575px) {
    .dashboard-body .dashboard-header .search-form {display: none;}
    .dashboard-body .dash-card-one {text-align: center;}
    .dashboard-body .dash-card-one .icon {margin: 0 auto 15px;}
    .dashboard-body .dashboard-header .profile-notification .dropdown-menu {max-width: 300px; padding: 20px 15px 20px 15px;}
    .dashboard-body .user-avatar-setting .upload-btn,.dashboard-body .user-avatar-setting .delete-btn {font-size: 14px;}
  }