@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
@import "https://cdn.jsdelivr.net/npm/open-props@1.6.17/open-props.min.css";

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'NexaRegular';
    color: #3C3F4C;
}

@font-face {
    font-family: 'Nexa';
    src: url('../font/Nexa-Black-Italic.eot');
    src: url('../font/Nexa-Black-Italic.eot?#iefix') format('embedded-opentype'),
        url('../font/Nexa-Black-Italic.woff2') format('woff2'),
        url('../font/Nexa-Black-Italic.woff') format('woff'),
        url('../font/Nexa-Black-Italic.ttf') format('truetype'),
        url('../font/Nexa-Black-Italic.svg#Nexa-Black-Italic') format('svg');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Nexa';
    src: url('../font/Nexa-Bold.eot');
    src: url('../font/Nexa-Bold.eot?#iefix') format('embedded-opentype'),
        url('../font/Nexa-Bold.woff2') format('woff2'),
        url('../font/Nexa-Bold.woff') format('woff'),
        url('../font/Nexa-Bold.ttf') format('truetype'),
        url('../font/Nexa-Bold.svg#Nexa-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nexa';
    src: url('../font/Nexa-Bold-Italic.eot');
    src: url('../font/Nexa-Bold-Italic.eot?#iefix') format('embedded-opentype'),
        url('../font/Nexa-Bold-Italic.woff2') format('woff2'),
        url('../font/Nexa-Bold-Italic.woff') format('woff'),
        url('../font/Nexa-Bold-Italic.ttf') format('truetype'),
        url('../font/Nexa-Bold-Italic.svg#Nexa-Bold-Italic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Nexa';
    src: url('../font/Nexa-Heavy-Italic.eot');
    src: url('../font/Nexa-Heavy-Italic.eot?#iefix') format('embedded-opentype'),
        url('../font/Nexa-Heavy-Italic.woff2') format('woff2'),
        url('../font/Nexa-Heavy-Italic.woff') format('woff'),
        url('../font/Nexa-Heavy-Italic.ttf') format('truetype'),
        url('../font/Nexa-Heavy-Italic.svg#Nexa-Heavy-Italic') format('svg');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Nexa-Book';
    src: url('../font/Nexa-Book-Italic.eot');
    src: url('../font/Nexa-Book-Italic.eot?#iefix') format('embedded-opentype'),
        url('../font/Nexa-Book-Italic.woff2') format('woff2'),
        url('../font/Nexa-Book-Italic.woff') format('woff'),
        url('../font/Nexa-Book-Italic.ttf') format('truetype'),
        url('../font/Nexa-Book-Italic.svg#Nexa-Book-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'NexaHeavy';
    src: url('../font/NexaHeavy.eot');
    src: url('../font/NexaHeavy.eot?#iefix') format('embedded-opentype'),
        url('../font/NexaHeavy.woff2') format('woff2'),
        url('../font/NexaHeavy.woff') format('woff'),
        url('../font/NexaHeavy.ttf') format('truetype'),
        url('../font/NexaHeavy.svg#NexaHeavy') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NexaThin';
    src: url('../font/NexaThin.eot');
    src: url('../font/NexaThin.eot?#iefix') format('embedded-opentype'),
        url('../font/NexaThin.woff2') format('woff2'),
        url('../font/NexaThin.woff') format('woff'),
        url('../font/NexaThin.ttf') format('truetype'),
        url('../font/NexaThin.svg#NexaThin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nexa';
    src: url('../font/Nexa-Light-Italic.eot');
    src: url('../font/Nexa-Light-Italic.eot?#iefix') format('embedded-opentype'),
        url('../font/Nexa-Light-Italic.woff2') format('woff2'),
        url('../font/Nexa-Light-Italic.woff') format('woff'),
        url('../font/Nexa-Light-Italic.ttf') format('truetype'),
        url('../font/Nexa-Light-Italic.svg#Nexa-Light-Italic') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Nexa';
    src: url('../font/Nexa-Thin-Italic.eot');
    src: url('../font/Nexa-Thin-Italic.eot?#iefix') format('embedded-opentype'),
        url('../font/Nexa-Thin-Italic.woff2') format('woff2'),
        url('../font/Nexa-Thin-Italic.woff') format('woff'),
        url('../font/Nexa-Thin-Italic.ttf') format('truetype'),
        url('../font/Nexa-Thin-Italic.svg#Nexa-Thin-Italic') format('svg');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Nexa';
    src: url('../font/Nexa-Light.eot');
    src: url('../font/Nexa-Light.eot?#iefix') format('embedded-opentype'),
        url('../font/Nexa-Light.woff2') format('woff2'),
        url('../font/Nexa-Light.woff') format('woff'),
        url('../font/Nexa-Light.ttf') format('truetype'),
        url('../font/Nexa-Light.svg#Nexa-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NexaRegular';
    src: url('../font/NexaRegular.eot');
    src: url('../font/NexaRegular.eot?#iefix') format('embedded-opentype'),
        url('../font/NexaRegular.woff2') format('woff2'),
        url('../font/NexaRegular.woff') format('woff'),
        url('../font/NexaRegular.ttf') format('truetype'),
        url('../font/NexaRegular.svg#NexaRegular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nexa-Regular';
    src: url('../font/Nexa-Regular-Italic.eot');
    src: url('../font/Nexa-Regular-Italic.eot?#iefix') format('embedded-opentype'),
        url('../font/Nexa-Regular-Italic.woff2') format('woff2'),
        url('../font/Nexa-Regular-Italic.woff') format('woff'),
        url('../font/Nexa-Regular-Italic.ttf') format('truetype'),
        url('../font/Nexa-Regular-Italic.svg#Nexa-Regular-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Nexa-XBold';
    src: url('../font/Nexa-XBold.eot');
    src: url('../font/Nexa-XBold.eot?#iefix') format('embedded-opentype'),
        url('../font/Nexa-XBold.woff2') format('woff2'),
        url('../font/Nexa-XBold.woff') format('woff'),
        url('../font/Nexa-XBold.ttf') format('truetype'),
        url('../font/Nexa-XBold.svg#Nexa-XBold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nexa-XBold';
    src: url('../font/Nexa-XBold-Italic.eot');
    src: url('../font/Nexa-XBold-Italic.eot?#iefix') format('embedded-opentype'),
        url('../font/Nexa-XBold-Italic.woff2') format('woff2'),
        url('../font/Nexa-XBold-Italic.woff') format('woff'),
        url('../font/Nexa-XBold-Italic.ttf') format('truetype'),
        url('../font/Nexa-XBold-Italic.svg#Nexa-XBold-Italic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Sora", sans-serif;
}

@media (min-width: 1400px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1290px;
    }
}

.btn.main_btn {
    font-family: Nexa;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    text-align: center;
    padding: 13px 48px;
    background: #4969AF;
    color: #FFFFFF;
    border-radius: 70px;
    font-weight: bold;
    transition: all 0.2s linear;
}

.btn.main_btn:hover {
    background: #3D5995;
}

.btn.main_btn:focus {
    background: #344C7F;
}

.btn.outline_btn {
    font-family: Nexa;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    text-align: center;
    padding: 13px 48px;
    background: transparent;
    border: 1px solid #4969AF;
    color: #4969AF;
    border-radius: 70px;
    font-weight: bold;
    transition: all 0.2s linear;
}

.btn.outline_btn:hover {
    background: #F1F4F8;
    color: #4869AF;
}

.btn.outline_btn:focus {
    background: #E8ECF3;
}

.btns {
    display: flex;
    gap: 22px;
    align-items: center;
}

a:visited {
    color: #182D4C;
}

p.subtitle {
    font-family: 'NexaRegular';
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    color: #4969AF;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.section_padding {
    padding-left: 40px;
    padding-right: 40px;
}

.section_heading {
    padding-bottom: 50px;
}

.section_heading h2 {
    font-size: 42px;
    font-weight: 700;
    line-height: 63px;
    color: #182D4C;
}

p {
    font-family: NexaRegular;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.0256em;

}

.breadcrumb .breadcrumb-item+.breadcrumb-item::before {
    float: left;
    padding-right: var(--bs-breadcrumb-item-padding-x);
    color: #3C3F4C;
    content: var(--bs-breadcrumb-divider, ">");
    font-size: 20px;
}

section {
    padding: 45px 0;
    overflow-x: clip;
}

.section_heading h2 span {
    position: relative;
    width: fit-content;
    display: inline-block;
}

.section_heading h2 span::before {
    content: "";
    position: absolute;
    bottom: -15px;
    left: 0;
    width: 100%;
    height: 20px;
    object-fit: contain;
    background: url(../img/underline.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}


@media (min-width: 1400px) {
    .header .container {
        max-width: 1320px;
    }
}

.top_bar {
    background: #2A4B73;
    padding: 10px 0;
}

.top_bar p {
    color: #F2F6FA;
    font-family: NexaRegular;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.0256em;
    text-align: center;
    margin: 0;
}

.navbar {
    padding: 12px 0;
}

.navbar .navbar-brand {
    max-width: 176px;
    margin-right: 65px;
}

.navbar-expand-lg .navbar-nav .nav-link.dropdown-toggle::after {
    border: none;
    background: url('../img/dropdown-arrow.svg');
    background-size: 8px;
    background-repeat: no-repeat;
    background-position: center;
    width: 8px;
    height: 4px;
    vertical-align: 2px;
}

.navbar-expand-lg .navbar-nav {
    gap: 54px;
    margin: 0;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 0;
    font-family: NexaRegular;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.0256em;
    text-align: center;
    color: #3C3F4C;
}

.navbar-expand-lg .navbar-nav .dropdown-item {
    font-family: 'NexaRegular';
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.0256em;
    color: #3C3F4C;
    position: relative;
}

.navbar-expand-lg .navbar-nav .dropdown-item:active {
    background: #f8f9fa;
    color: #3C3F4C;
}

.header_btns {
    display: flex;
    align-items: center;
    gap: 34px;
    justify-content: end;
}

.signin_btn {
    display: flex;
    gap: 6px;
    align-items: center;
    text-decoration: none;
    font-family: Nexa;
    font-weight: bold;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: #182D4C;
}

.signin_btn .icon {
    background-color: #F2F6FA;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
}

.signin_btn .icon img {
    width: 13px;
}




.banner {
    margin-top: 35px;
    padding-bottom: 45px;
    padding-top: 0;
}

.banner .section_padding {
    position: relative;
    padding-top: 70px;
    padding-bottom: 70px;
    background: #FAF7F4;
    border: 1px solid #F4EDE5;
    border-radius: 29px;
}

.banner .section_padding::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
    height: 290px;
    object-fit: contain;
    background: url("../img/shape.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.banner .banner_img {
    position: relative;
    z-index: 9;
}

.banner .banner_cont {
    max-width: 540px;
}

.banner .banner_cont h1 {
    font-size: 60px;
    font-weight: 700;
    line-height: 90px;
    text-align: left;
    color: #182D4C;
}

.banner .banner_cont h1 span {
    position: relative;
    width: fit-content;
    display: inline-block;
}

.banner .banner_cont h1 span::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20px;
    object-fit: contain;
    background: url("../img/underline.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.banner .banner_cont p {
    font-family: NexaRegular;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.0288em;
    text-align: left;
    color: #3C3F4C;

}

.banner .input_box {
    width: 100%;
    border: 1px solid #DEE3EA;
    background: #fff;
    border-radius: 100px;
    display: flex;
    justify-content: space-between;
}

.banner .input_box input {
    width: calc(100% - 200px);
    background: transparent;
    border: none;
    padding-left: 24px;
    font-family: NexaRegular;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.0256em;
    text-align: left;
}

.banner .input_box input:focus-visible {
    outline: none;
}

.banner .btn.main_btn {
    align-items: center;
    display: flex;
    gap: 9px;
    padding: 10px 28px;
}

.banner .btn.main_btn img {
    width: 16px;
}





.service_availabilities {
    position: relative;
}

.service_availabilities::before {
    content: "";
    position: absolute;
    top: 55px;
    right: 0;
    background: url("../img/round_shape.png");
    background-repeat: no-repeat;
    width: 235px;
    height: 375px;
    background-size: contain;
}

.service_availabilities .section_padding {
    position: relative;
}

.service_availabilities .section__heading {
    padding-bottom: 50px;
}

.city_box {
    border-radius: 20px;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.city_box img {
    height: 260px;
    width: 100%;
    object-fit: cover;
    transform: scale(1);
    transition: all 0.3s linear;
}

.service_availabilities .city_box:hover img {
    transform: scale(1.05);
}

.city_box.city_box1 img {
    height: 100%;
}

.city_detail {
    position: absolute;
    background: #F2F6FA;
    width: 90%;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 16px;
}

.city_detail p {
    font-family: NexaRegular;
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0.0256em;
    text-align: left;
    color: #4969AF;
}

.listing {
    display: flex;
    align-items: center;
    gap: 6px;
}

.city_box .listing img {
    width: 14px;
    height: auto;
    margin-top: -4px;
}

.listing p {
    margin: 0;
}

.city_detail h6 {
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    text-align: left;
    margin: 0;
    color: #131F32;
}

.city_detail {
    position: absolute;
    background: #F2F6FA;
    width: calc(100% - 30px);
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 16px;
    padding: 7px 20px;
}

.city_box.city_box1 .city_detail {
    bottom: 25px;
}








.about .cont {
    padding: 20px 0;
}

.about .cont h2 {
    text-align: left;
}

.about .cont .section_heading {
    text-align: left;
    padding-bottom: 0;
}

.about .cont h2 {
    margin-bottom: 25px;
}

.about .section_padding {
    position: relative;
}

.about .cont h3 {
    font-size: 28px;
    font-weight: 600;
    line-height: 42px;
    color: #4969AF;
    margin-bottom: 20px;
}

.about .img {
    height: 100%;
    padding-left: 85px;
}

.about .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
    overflow: hidden;
}

.about .btns {
    margin-top: 36px;
}


.who_is_happipad {
    position: relative;
}

.who_is_happipad .section_padding {
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;
    background: #F2F6FA;
    border: 1px solid #E1EAF5;
    border-radius: 29px;
}

.who_is_happipad .section_padding::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 256px;
    height: 310px;
    object-fit: contain;
    background: url("../img/shape-bubble.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.who_is_happipad .list_items {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.who_is_happipad .list_items .list_item {
    width: calc(50% - 12px);
}

.who_is_happipad .list_item h4 {
    font-size: 24px;
    font-weight: 600;
    line-height: 34px;
    text-align: left;
    color: #182D4C;
    margin-bottom: 15px;
}

.who_is_happipad .list_item h4 span.bg1 {
    background: #e8ecf9;
}

.who_is_happipad .list_item h4 span.bg2 {
    background: #d2e4d2;
}

.who_is_happipad .list_item p {
    font-family: NexaRegular;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.0256em;
    text-align: left;
    color: #3C3F4C;
    margin-bottom: 0;
}

.who_is_happipad .img {
    height: 100%;
    position: relative;
    z-index: 9;
}

.who_is_happipad .img img {
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
    overflow: hidden;
    object-position: 23%;
}






.video_section {
    position: relative;
}

.video_section::before {
    content: "";
    position: absolute;
    top: 40px;
    left: 0;
    width: 435px;
    height: 685px;
    object-fit: contain;
    background: url("../img/round-shape2.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.video_section_inner {
    max-width: 985px;
    margin: 0 auto;
    z-index: 9;
    position: relative;
    text-align: center;
}

.video_section_inner .section_heading {
    max-width: 760px;
    margin: 0 auto;
}

.video_section_inner .section_heading img {
    margin-bottom: 30px;
}

.video_section_inner iframe {
    border-radius: 32px;
    overflow: hidden;
}

@media (max-width:1200px) {
    .video_section_inner iframe {
        width: 900px;
        height: 506px;
    }
}


@media (max-width:991px) {
    .video_section_inner iframe {
        width: 700px;
        height: 394px;
    }
}

@media (max-width:767px) {
    .video_section_inner iframe {
        width: 500px;
        height: 282px;
    }

    .section {
        overflow: hidden;
    }
}

@media (max-width:576px) {
    .video_section_inner iframe {
        width: 300px;
        height: 169px;
    }
}





.cta .section_heading h2 {
    color: #fff;
    margin: 0;
}

.cta .section_heading p {
    color: #F2F6FA;
}

.cta .section_padding {
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;
    background: #4969AF;
    border: 1px solid #E8ECF9;
    border-radius: 29px;
    padding-bottom: 23px;
}

.cta .section_padding::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 298px;
    height: 80px;
    object-fit: contain;
    background: url("../img/cta-shape.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.cta .section_heading {
    padding-bottom: 23px;
}

.cta .cta_cont p {
    font-family: NexaRegular;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.0256em;
    text-align: left;
    color: #F2F6FA;
}

.cta .btns a.btn.main_btn {
    color: #4969AF;
    background: #fff;
}

.cta .btns a.btn.main_btn:hover {
    color: #fff;
    background: transparent;
    border-color: #fff;
}

.cta .btn.outline_btn {
    border-color: #fff;
    color: #fff;
}

.cta .btn.outline_btn:hover {
    color: #4869AF;
}

.cta .btns {
    display: flex;
    gap: 22px;
    align-items: center;
    justify-content: end;
    position: relative;
    z-index: 9;
}







.how_it_works {
    position: relative;
    overflow: hidden;
}

.how_it_works .section_heading .subtitle {
    margin-bottom: 5px;
}

.step {
    text-align: center;
    position: relative;
}

.step span {
    border: 1.75px solid #E1EAF5;
    background: #F2F6FA;
    width: 60px;
    height: 60px;
    display: inline-flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    font-family: NexaRegular;
    font-size: 39.21px;
    font-weight: 400;
    line-height: 53px;
    color: #4969AF;
    margin-bottom: 32px;
}

.step h4 {
    font-size: 24px;
    font-weight: 600;
    line-height: 34px;
    color: #182D4C;
    margin-bottom: 16px;
}

.step p {
    color: #3C3F4C;
    margin-bottom: 46px;
}

.step1::before {
    content: "";
    position: absolute;
    bottom: 50px;
    left: -112px;
    width: 253px;
    height: 171px;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1;
    background-image: url("../img/step-one-shape.svg");
}

.step2::before {
    content: "";
    position: absolute;
    width: 800px;
    bottom: 55px;
    right: -95px;
    height: 150px;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1;
    background-image: url("../img/step-two-shape.svg");
}

.step3::before {
    content: "";
    position: absolute;
    bottom: 17px;
    left: 96%;
    width: 429px;
    height: 171px;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1;
    background-image: url("../img/step-three-shape.svg");
}





.every_step {
    position: relative;
}

.every_step::before,
.every_step::after {
    content: "";
    position: absolute;
    right: 0;
    top: -5px;
    width: 280px;
    height: 560px;
    z-index: -1;
    background-image: url("../img/shape1.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

.every_step::after {
    top: 105px;
    background-image: url("../img/shape2.svg");
}

.every_step .section_heading {
    padding-bottom: 25px;
}

.every_step .section_heading h2 {
    margin-bottom: 25px;
}

.every_step .section_heading {
    max-width: 800px;
}

.every_step_inner {
    padding: 38px;
    border-radius: 16px;
    height: calc(100% - 25px);
    margin-top: 25px;
}

.every_step_inner.bg1 {
    border: 1px solid #E2E6EB;
    background: #F2F6FA;
}

.every_step_inner.bg2 {
    border: 1px solid #F4EDE5;
    background: #FAF7F4;
}

.every_step_inner .icon {
    position: relative;
    z-index: 9;
    margin-bottom: 30px;
}

.every_step_inner .icon::before {
    content: "";
    position: absolute;
    width: 55px;
    height: 55px;
    background: #D2E4D2;
    border-radius: 50%;
    top: -6px;
    left: 20px;
    z-index: -1;
}

.every_step_inner p {
    margin-bottom: 0;
}

.every_step_inner .icon img {
    width: 60px;
}

.every_step_inner h4 {
    font-size: 26px;
    font-weight: 600;
    line-height: 32px;
    color: #182D4C;
    margin-bottom: 14px;
}




.logos_section {
    overflow: hidden;
}

.logos_section .section_heading {
    max-width: 800px;
    margin: 0 auto;
}

.logos_section .section_heading p {
    margin: 0;
    padding-top: 25px;
}

.logo_img {
    text-align: center;
}

.logo_img img {
    max-width: 200px;
}


.about.find_secure .cont {
    padding: 90px 0;
}

.about.find_secure .img {
    position: relative;
}

.about.find_secure .img::after {
    content: "";
    position: absolute;
    right: -65px;
    top: -33px;
    width: 160px;
    height: 160px;
    background-image: url("../img/shape3.svg");
    background-size: contain;
    background-repeat: no-repeat;
}





.blog {
    position: relative;
}

.blog::before {
    content: "";
    position: absolute;
    left: -5px;
    top: 425px;
    width: 500px;
    height: 900px;
    background-image: url("../img/blog-shape.svg");
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1;
}

.blog .section_padding {
    position: relative;
    border: 1px solid #F4EDE5;
    padding-top: 50px;
    padding-bottom: 50px;
    background: #FAF7F4;
    border-radius: 32px;
}

.blog .section_padding::before {
    content: "";
    position: absolute;
    right: 0;
    top: -19px;
    width: 538px;
    height: 130px;
    background-image: url("../img/blog-shape.png");
    background-size: contain;
    background-repeat: no-repeat;
}


.blog_heading {
    display: flex;
    padding-bottom: 50px;
    align-items: center;
    justify-content: space-between;
}

.text_link {
    font-family: Nexa;
    font-size: 16px;
    font-weight: bold;
    line-height: 19px;
    color: #000000;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 11px;
}

.text_link img {
    width: 13px;
    height: 13px;
}

.blog_inner {
    padding: 30px;
    border-radius: 16px;
    background: #fff;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.blog_inner a {
    text-decoration: none;
}

.blog_inner.blog_row {
    flex-direction: row;
}

.blog_inner .blog_img {
    border-radius: 16px;
    overflow: hidden;
}

.blog_inner .blog_img img {
    height: 406px;
    width: 100%;
    object-fit: cover;
    transform: scale(1);
    transition: all 0.3s linear;
    overflow: hidden;
}


.blog_inner .blog_img img:hover {
    transform: scale(1.05);
}


.blog_inner.blog_row .blog_img img {
    height: 100%;
}

.blog_inner .categories {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 24px;
}

.blog_inner.blog_row .categories {
    margin-bottom: 20px;
}

.blog_inner .categories a {
    font-family: Nexa;
    font-size: 14px;
    font-weight: bold;
    line-height: 27px;
    text-align: center;
    color: #4969AF;
    background: #E8ECF9;
    border-radius: 33px;
    padding: 3px 12px;
    margin: 0;
}

.blog_inner .blog_detail h4 a {
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    color: #182D4C;
    margin-bottom: 14px;
}

.blog_inner.blog_row .blog_detail h4 a {
    font-size: 19px;
    line-height: 29px;
}

.blog_inner p {
    margin-bottom: 0px;
}

.blog_inner.blog_row .blog_detail {
    width: 243px;
}

.blog_inner.blog_row .blog_img {
    width: calc(100% - 243px);
}








.testimonial {
    overflow: hidden;
}

.testimonial_inner {
    padding: 38px;
    border-radius: 16px;
    height: 100%;
}

.testimonial_inner.bg1 {
    background: #F2F6FA;
    border: 1px solid #E1EAF5;
}

.testimonial_inner.bg2 {
    background: #FAF7F4;
    border: 1px solid #F5F0EB;
}

.testimonial .section_padding {
    padding-left: 0;
    padding-right: 0;
}

.mb-36 {
    margin-bottom: 36px;
}

.testi_detail {
    display: flex;
    align-items: center;
}

.testi_detail .quote {
    margin-bottom: 36px;
}

.testi_detail .name {
    font-family: "Nexa";
    font-weight: bold;
    color: #4969AF;
    margin-bottom: 0;
}

.testi_detail .date {
    color: #696D7B;
    margin-bottom: 0;
    padding-left: 14px;
    margin-left: 14px;
    border-left: 1px solid #D9DFE6;
}

.testimonial .text_link {
    justify-content: center;
    margin-top: 50px;
}


.about.about_right {
    position: relative;
    overflow: hidden;
}

.about_footer.about_right::before {
    content: "";
    position: absolute;
    top: 240px;
    right: -100px;
    background: url("../img/round_shape.png");
    background-repeat: no-repeat;
    width: 235px;
    height: 375px;
    z-index: -1;
    background-size: contain;
}

.about.about_right .img {
    padding-left: 0;
    padding-right: 85px;
}

.about.about_right .cont {
    padding: 37px 0;
}




.faq-section {
    position: relative;
}

.faq-section .section_padding {
    background-color: #F2F6FA;
    border: 1px solid #E1EAF5;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 16px;
}

.faq-section .section_heading p {
    margin-bottom: 36px;
    margin-top: 23px;
}

.faq-section .accordion {
    padding-left: 45px;
}

.faq-section button.accordion-button {
    background: transparent;
    border: 0;
    box-shadow: none;
    padding: 0;
    font-family: 'Nexa';
    font-size: 18px;
    font-weight: bold;
    line-height: 28px;
}

.faq-section .accordion-item {
    border-bottom: 1px solid #182D4C;
    background: transparent;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.faq-section .accordion-body {
    padding: 0;
}

.faq-section .accordion-button::after {
    width: 16px;
    height: 12px;
    background-size: 16px;
}

.faq-section .accordion-header {
    padding: 18px 0;
}

.faq-section .accordion-item:first-child .accordion-header {
    padding-top: 0;
}


.newsletter-section {
    position: relative;
}

.newsletter-section .section_padding {
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 16px;
    background-color: #FBF2E9;
    border: 1px solid #F2EAE2;
}

.newsletter-section .section_padding::before {
    content: "";
    position: absolute;
    top: -29px;
    right: -88px;
    z-index: 10;
    background: url("../img/newsletter-shape.svg");
    background-repeat: no-repeat;
    width: 200px;
    height: 250px;
    background-size: contain;
}

.newsletter-section .section_heading {
    padding-bottom: 13px;
}

.newsletter-section .section_heading h2 {
    margin: 0;
}

.newsletter-section .subscribe_btn .email-section {
    width: 100%;
    border: 1px solid #DEE3EA;
    background: #fff;
    border-radius: 100px;
    display: flex;
    justify-content: space-between;
}

.newsletter-section .subscribe_btn .email-section input {
    width: calc(100% - 200px);
    background: transparent;
    border: none;
    padding-left: 24px;
    font-family: NexaRegular;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.0256em;
    text-align: left;
}

.newsletter-section .subscribe_btn .email-section input:focus-visible {
    border: 0;
    outline: 0;
}



.footer {
    background-color: #2A4B73;
    color: #ffffff;
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
    margin-top: 45px;
    overflow: hidden;
}

.footer .section_padding {
    padding: 0 120px;
}

.footer-top {
    text-align: center;
    padding-bottom: 40px;
    border-bottom: 1px solid #456A98;
}

.footer-description {
    font-family: 'NexaRegular';
    font-size: 16px;
    color: #D7DCE4;
    line-height: 27px;
    max-width: 690px;
    margin: 0 auto;
    margin-top: 30px;
}

.footer-logo img {
    margin-top: 47px;
    max-width: 200px;
}

.footer .social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 30px;
}

.footer .social-icons a {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background: #fff;
}

.footer .social-icons img {
    height: 17px;
    margin-left: 2px;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    padding: 40px 0 25px;
    gap: 90px;
}

.footer-column h3 {
    font-family: 'Nexa';
    font-weight: bold;
    font-size: 18px;
    line-height: 32px;
    margin-bottom: 20px;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul {
    color: #D7DCE4;
    margin: 0;
    padding: 0
}

.footer_contact_info {
    width: 235px;
}

.footer-column ul li {
    margin-bottom: 14px;
}

.footer-column ul li:last-child {
    margin: 0;
}

.footer-column ul li a {
    color: #D7DCE4;
    text-decoration: none;
    transition: color 0.3s;
    margin: 14px 0px;
    font-family: 'NexaRegular';
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.0256em;
}

.footer-column ul li a:hover {
    color: #cccccc;
}

.footer_contact_info ul {
    margin: 0;
    padding: 0;
}

.footer_contact_info ul li {
    display: flex;
    gap: 17px;
    margin-bottom: 25px;
}

.footer_contact_info ul li a,
.footer_contact_info ul li span {
    width: calc(100% - 42px);
    margin: 0
}

.footer_contact_info ul .icon {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    border-radius: 50%;
}

.footer_contact_info ul .icon img {
    height: 15px;
}

.footer_copyright {
    background: #203F66;
    padding: 15px 0;
}

.footer .footer_copyright .section_padding {
    padding: 0 40px;
}

.footer-legal {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-legal a {
    color: #A2B2CB;
    font-size: 16px;
    line-height: 27px;
    text-decoration: none;
    margin: 0 20px;
}

.footer-legal a:first-child {
    margin-left: 0;
}

.footer_copyright .copyright {
    margin: 0;
    color: #A2B2CB;
    font-size: 16px;
    line-height: 27px;
}




/* About css start */
.inner_banner {
    position: relative;
}

.inner_banner .section_padding {
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;
    background: #FAF7F4;
    border: 1px solid #F4EDE5;
    border-radius: 32px;
    overflow: hidden;
}

.inner_banner .inner_banner_cont,
.inner_banner .btns {
    position: relative;
    z-index: 9;
}

.inner_banner .section_padding::before {
    content: "";
    position: absolute;
    bottom: 80px;
    right: 160px;
    width: 464px;
    height: 255px;
    object-fit: contain;
    background: url("../img/banner_shape2.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.inner_banner .section_padding::after {
    content: "";
    position: absolute;
    top: 0px;
    left: -95px;
    width: 670px;
    height: 300px;
    object-fit: contain;
    background: url("../img/banner_shape1.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.breadcrumb-item a {
    color: #4969AF;
}

.breadcrumb-item a {
    color: #4969AF;
}

.breadcrumb-item a,
.breadcrumb-item {
    font-family: 'NexaRegular';
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0.0256em;
}

.inner_banner .section_heading h1 {
    color: #182D4C;
    margin-bottom: 0;
    font-size: 60px;
    font-weight: 700;
    line-height: 90px;

}


.inner_banner .section_heading {
    padding-bottom: 8px;
}

.inner_banner .inner_banner_cont p {
    font-family: 'NexaRegular';
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.0256em;
}

.inner_banner .btns {
    display: flex;
    gap: 22px;
    align-items: center;
    justify-content: end;
}




.inclusivity {
    position: relative;
}

.inclusivity::before,
.inclusivity::after {
    content: "";
    position: absolute;
    left: 0;
    top: 230px;
    width: 170px;
    height: 700px;
    z-index: -1;
    background-image: url("../img/inclusivity_shape1.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

.inclusivity::after {
    top: 250px;
    background-image: url("../img/inclusivity_shape2.svg");
}



.why_choose .section_padding {
    padding-top: 50px;
    padding-bottom: 50px;
    background: #F2F6FA;
    border: 1px solid #E1EAF5;
    border-radius: 32px;
}

.vision .section_padding {
    padding-top: 50px;
    padding-bottom: 50px;
    background: #FAF7F4;
    border: 1px solid #F4EDE5;
    border-radius: 32px;
}

.vision .img img {
    transform: scaleX(-1);
}

.team {
    position: relative;
}

.team::before {
    content: "";
    position: absolute;
    right: -305px;
    top: -50px;
    width: 700px;
    height: 700px;
    background-image: url("../img/team_shape.svg");
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1;
}

.team .section_heading {
    max-width: 800px;
    margin: 0 auto;
    padding-bottom: 15px;
}

.team .section_heading p {
    margin: 0;
    padding-top: 25px;
}

.team .team_inner {
    margin-top: 35px;
    text-align: center;
}

.team .team_img {
    overflow: hidden;
    border-radius: 16px;
    border: 1px solid #E1EAF5;
    margin-bottom: 25px;
}

.team .team_img img {
    height: 310px;
    object-fit: cover;
    width: 100%;
    transform: scale(1);
    transition: all 0.3s linear;
}

.team .team_inner:hover img {
    transform: scale(1.05);
}

.team .team_inner .name {
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    color: #182D4C;
    margin-bottom: 10px;
}

.team .team_inner .profile {
    font-family: 'NexaRegular';
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.0256em;
    color: #3C3F4C;
    margin: 0;
}


.careers .section_padding {
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;
    background: #F2F6FA;
    border: 1px solid #E1EAF5;
    border-radius: 32px;
}

.careers .section_padding::before,
.careers .section_padding::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0px;
    width: 152px;
    height: 90px;
    background-image: url("../img/career_shape1.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

.careers .section_padding::after {
    top: 55px;
    background-image: url("../img/career_shape2.svg");
}

.careers .img {
    padding-top: 20px;
    padding-bottom: 20px;
}

.testimonial_shape {
    position: relative;
}

.testimonial_shape::before {
    content: "";
    position: absolute;
    top: 40px;
    right: -70px;
    background: url("../img/round_shape.png");
    background-repeat: no-repeat;
    width: 235px;
    height: 375px;
    z-index: -1;
    background-size: contain;
}

.better_way_rent {
    position: relative;
}

.better_way_rent .img {
    padding-top: 40px;
    padding-bottom: 40px;
}

.better_way_rent::before,
.better_way_rent::after {
    content: "";
    position: absolute;
    left: 0;
    top: 230px;
    width: 170px;
    height: 700px;
    z-index: -1;
    background-image: url("../img/inclusivity_shape1.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

.better_way_rent::after {
    top: 250px;
    background-image: url("../img/inclusivity_shape2.svg");
}


/* Blog css start */
.inner_banner.blog_banner .section_padding::before {
    content: "";
    position: absolute;
    top: -35px;
    bottom: inherit;
    right: -40px;
    width: 750px;
    height: 318px;
    object-fit: contain;
    background: url("../img/blog_banner_shape.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.blog_wrapper {
    position: relative;
}

.blog_wrapper::before {
    content: "";
    position: absolute;
    top: 300px;
    bottom: inherit;
    left: -40px;
    width: 700px;
    height: 700px;
    z-index: -1;
    object-fit: contain;
    background: url("../img/shape4.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.blog_wrapper::after {
    content: "";
    position: absolute;
    right: -350px;
    bottom: 0;
    width: 700px;
    height: 700px;
    background-image: url("../img/shape5.svg");
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1;
}

.blog_wrapper .section_padding {
    padding-top: 50px;
    padding-bottom: 50px;
    background: #F2F6FA;
    border: 1px solid #E1EAF5;
    border-radius: 16px;
}

.blog_wrapper .blog_wrapper_inner.single_row {
    display: flex;
    align-items: center;
}

.blog_wrapper .single_row .blog_wrapper_img {
    width: 50%;
}

.blog_wrapper .blog_wrapper_img {
    border-radius: 16px;
    overflow: hidden;
}

.blog_wrapper .single_row .blog_wrapper_detail {
    width: 50%;
    padding-left: 50px;
    box-sizing: border-box;
}

.blog_wrapper .blog_wrapper_inner .categories a {
    text-decoration: none;
    font-family: 'Nexa';
    font-size: 14px;
    font-weight: bold;
    line-height: 27px;
    text-align: center;
    color: #4969AF;
    background: #E8ECF9;
    border-radius: 33px;
    padding: 3px 12px;
    margin: 0;
}

.blog_wrapper .blog_wrapper_img img {
    width: 100%;
    object-fit: cover;
    transform: scale(1);
    transition: all 0.3s linear;
    overflow: hidden;
    height: 176px;
}

.blog_wrapper .single_row .blog_wrapper_img img {
    height: 100%;
}

.blog_wrapper .blog_wrapper_img img:hover {
    transform: scale(1.05);
}

.blog_wrapper .blog_wrapper_inner .categories {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    margin-top: 25px;
}

.blog_wrapper .blog_wrapper_inner.single_row .categories {
    margin-top: 0;
    margin-bottom: 24px;
}

.blog_wrapper .blog_wrapper_inner a {
    text-decoration: none;
}

.blog_wrapper .blog_wrapper_inner h4 {
    margin-bottom: 0px;
}

.blog_wrapper .blog_wrapper_inner h4 a {
    color: #182D4C;
    margin-bottom: 14px;
    display: inline-block;
    font-size: 19px;
    font-weight: 600;
    line-height: 29px;
}

.blog_wrapper .blog_wrapper_inner.single_row h4 a {
    font-size: 24px;
    line-height: 36px;
}

.blog_wrapper .blog_wrapper_inner p {
    margin: 0;
}

.blog_wrapper .blog_wrapper_inner {
    padding: 30px;
}

.blog_wrapper_inner.single_row {
    padding: 0;
}

.blog_wrapper .blog_wrapper_inner.bg1 {
    background: #F2F6FA;
    border: 1px solid #E1EAF5;
    border-radius: 16px;
}

.blog_wrapper .blog_wrapper_inner.bg2 {
    background: #FAF7F4;
    border: 1px solid #F4EDE5;
    border-radius: 16px;
}

.blog_wrapper .blog_row {
    margin: 0 -25px;
}

.blog_wrapper .blog_row .blog_wrapper_inner {
    margin-top: 25px;
    height: calc(100% - 25px);
}

.pagination {
    position: relative;
}

.pagination ul {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
    gap: 10px;
    margin-top: 90px;
}

.pagination ul li {
    list-style: none;
}

.pagination ul li a {
    text-decoration: none;
    font-family: 'Nexa';
    font-size: 18.37px;
    font-weight: bold;
    line-height: 24px;
    color: #4969AF;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination ul li.active a {
    background: #F2F6FA;
}

.pagination ul li.prev a {
    background: #4969AF;
    margin-right: 10px;
}

.pagination ul li.next a {
    background: #4969AF;
    margin-left: 10px;
}


/* Single Blog css start */
.single_blog {
    position: relative;
    padding-top: 90px;
}
.single_blog::before {
    content: "";
    position: absolute;
    right: -305px;
    bottom:500px;
    width: 700px;
    height: 700px;
    background-image: url("../img/team_shape.svg");
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1;
}

.single_blog .single_blog_inner {
    max-width: 1025px;
    margin: 0 auto;
}

.single_blog .breadcrumb {
    justify-content: center;
    margin-bottom: 14px;
}

.single_blog .single_blog_heading h2 {
    font-size: 60px;
    font-weight: 700;
    line-height: 90px;
    text-align: center;
    margin-bottom: 14px;
    color: #182D4C;
}

.single_blog .publish_detail {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.single_blog .publish_detail p {
    font-family: 'NexaRegular';
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0.0256em;
    margin: 0;
}

.single_blog .publish_detail p.name {
    position: relative;
}

.single_blog .publish_detail p.name::before {
    content: "";
    position: absolute;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #3C3F4C;
    top: 50%;
    transform: translateY(-50%);
    right: -16px;
}

.single_blog .blog_img img {
    height: 500px;
    width: 100%;
    object-fit: cover;
    object-position: top;
    border-radius: 16px;
    margin-top: 50px;
}

.single_blog .cont .blog_img img {
    object-position: center;
    margin: 0;
    margin-bottom: 30px;
}

.single_blog .cont {
    max-width: 700px;
    margin: 0 auto;
    margin-top: 50px;
}

.single_blog .quote {
    padding: 20px 30px;
    border: 1px solid #F4EDE5;
    background: #FAF7F4;
    border-radius: 16px;
    margin-bottom: 30px;
}

.single_blog .cont p {
    margin-bottom: 30px;
}

.single_blog .cont p a {
    color: #4969AF;
}

.single_blog .quote p {
    margin: 0;
}

.single_blog .cont h2 {
    font-size: 42px;
    font-weight: 700;
    line-height: 63px;
    margin-bottom: 23px;
    color: #182D4C;
}

.single_blog .share {
    margin-top: 20px;
    display: inline-block;
}

.single_blog .share h6 {
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    color: #182D4C;
    margin-bottom: 16px;
}

.single_blog .share ul {
    display: flex;
    align-items: center;
    gap: 16px;
    margin: 0;
    padding: 0;
}

.single_blog .share ul li {
    list-style: none;
}

.single_blog .share ul li a {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background: #4969AF;
    text-decoration: none;
}

.single_blog .share ul li img {
    height: 17px;
}

.recommended_blog {
    margin-top: 80px;
}

.recommended_blog h3 {
    font-size: 28px;
    font-weight: 600;
    line-height: 42px;
    color: #182D4C;
}

.recommended_blog .blog_list_item {
    padding: 30px;
    padding-left: 0;
    padding-right: 10px;
    display: flex;
    align-items: center;
    gap: 25px;
    flex-direction: row;
    border-bottom: 1px solid #E8ECF9;
}
.recommended_blog .blog_list_item:last-child {
    border-bottom: 0;
}
.recommended_blog .blog_list_item a {
    text-decoration: none;
}

.recommended_blog .blog_list_item .blog_list_img {
    border-radius: 16px;
    overflow: hidden;
    width: 232px;
    height: 180px;
}

.recommended_blog .blog_list_item .blog_list_img img {
    height: 180px;
    width: 100%;
    object-fit: cover;
    transform: scale(1);
    transition: all 0.3s linear;
    overflow: hidden;
}

.recommended_blog .blog_list_item .blog_list_img img:hover {
    transform: scale(1.05);
}

.recommended_blog .blog_list_item .categories {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.recommended_blog .blog_list_item .categories a {
    font-family: 'Nexa';
    font-size: 14px;
    font-weight: bold;
    line-height: 27px;
    text-align: center;
    color: #4969AF;
    background: #E8ECF9;
    border-radius: 33px;
    padding: 3px 12px;
    margin: 0;
}

.recommended_blog .blog_list_item .blog_list_detail {
    width: calc(100% - 257px);
}

.recommended_blog .blog_list_item .blog_list_detail h4 a {
    color: #182D4C;
    margin-bottom: 14px;
    font-size: 19px;
    font-weight: 600;
    line-height: 29px;
}

.recommended_blog .blog_list_item p {
    margin-bottom: 0px;
}