body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Sora", sans-serif;
    letter-spacing: 0.5px;
    color: #1a1a1a;
}

p,
li,
a,
span {
    font-family: "Inter", sans-serif;
}


.section_title h2 {
    font-size: 45px;
    margin-bottom: 0px;
}

.header {
    position: absolute;
    z-index: 999;
    width: 100%;
    top: 0;
    left: 0;
    padding: 10px 50px;
}

.header .navbar-brand {
    color: #fff;
    text-transform: uppercase;
    font-size: 35px;
}

.header .navbar-brand:focus,
.navbar-brand:hover {
    color: #fff;
}

.header .navbar-expand-lg .navbar-nav .nav-link {
    position: relative;
    text-transform: uppercase;
    color: #fff;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 600;
    padding: 8px 20px;
    position: relative;
    border-radius: 0.375rem;
    margin-right: 10px;
    transition: all 0.2s linear;
}

.header .navbar-expand-lg .navbar-nav .nav-link::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 1px;
    background: #fff;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0px;
    transition: all 0.2s linear;
}

.header .navbar-expand-lg .navbar-nav .nav-link:hover::after {
    width: calc(100% - 40px);
}

.header .navbar-nav {
    margin-right: 30px;
}

.header button.btn {
    background: #448c74;
    color: #fff;
    padding: 14px 30px;
    border-color: #448c74;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    border-radius: 0;
}

.header button.btn:hover {
    background: transparent;
    border-color: #fff;
    color: #fff;
}

.banner {
    position: relative;
    display: flex;
    align-items: center;
}

.banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00000094;
}

.banner #background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100%;
    z-index: -1;
    transform: translate(-50%, -50%);
    object-fit: cover;
    overflow: hidden;
}

.banner_inner {
    padding: 320px 0 200px;
    position: relative;
    z-index: 9;
}

.banner .banner_inner h5 {
    display: inline;
    padding: 7px 20px;
    border: 1px solid #fff;
    color: #fff;
    letter-spacing: 1px;
    border-radius: 25px;
    font-size: 13px;
    text-transform: uppercase;
}

.banner_inner h1 {
    font-size: 70px;
    color: #fff;
    margin-top: 35px;
    font-weight: 400;
    margin-bottom: 20px;
}

.banner_inner h1 span {
    font-weight: 700;
}

.banner_inner p {
    border-top: 1px solid #fff;
    max-width: 640px;
    padding-top: 30px;
    color: #fff;
}

.payment {
    padding: 100px 0;
}
.tab_wrapper .nav.nav-tabs {
    gap: 10px;
}
.tab_wrapper .nav-tabs .nav-link {
    border: 1px solid #1a1a1a;
    border-radius: 0;
    color: #1a1a1a;
    background: transparent;
}
.tab_wrapper .nav-tabs .nav-link.active {
    background: #448c74;
    color: #fff;
    border-color: #448c74;
}
.checkout-container {
    display: flex;
    justify-content: center;
}
.checkout-container h3 {
    font-size: 27px;
}   

.checkout-form, .order-summary {
    background: #fff;
    border-radius: 5px;
    width: 60%;
    padding: 20px;
    padding-left: 0px;
}
.checkout-form {
    margin-right: 50px;
}
.checkout-container .order-summary {
    padding: 20px;
    width: 40%;
    background: #f5f5f5;
}
.checkout-container .order-summary p {
    margin: 20px 0;
}
.credit-card-fields {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 5px;
}


.credit-card-option {
    border-top: 1px solid #00000024;
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
}
.credit-card-option .credit-card-label {
    margin: 0;
}
.card-icons img {
    width: 35px;
}

.checkout-container .form-section {
    margin-bottom: 15px;
}

.checkout-container label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.checkout-container input[type="text"], .checkout-container input[type="email"], .checkout-container input[type="password"], .checkout-container textarea, .checkout-container select,.checkout-container option {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 0px;
    font-size: 16px;
    color: #7d7d7d;
    height: 50px;
}
.credit-card-fields input:nth-child(2), .credit-card-fields input:nth-child(3) {
    width: 49%;
}
 .checkout-container select {
    color: #7d7d7d;
    font-size: 16px;
}

.checkout-container textarea {
    resize: none;
}

.checkout-container .form-row {
    display: flex;
    gap: 10px;
}

.checkout-container .half {
    flex: 1;
}

.checkout-container button {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.checkout-container button:hover {
    background-color: #444;
}